<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Sports Scheduler</title>
  <link rel="icon" href="/sports-icon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/home.css" />
</head>

<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="container">
      <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>
  </nav>

  <!-- Main Content Container -->
  <div class="container1">
    <div class="main-section">
      <h1>Welcome to Sports Scheduler</h1>
      <p>
        Simplify your sports management experience with our platform! Effortlessly manage teams, schedules, and player details in one convenient place.
      </p>
    </div>
  </div>

</body>



</html>
